body{
    margin: 0%;
    padding: 0%;
}


nav {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    
}


.logo {
    font-size: 1.8em;
    font-weight: bold;
    color: white;
}


nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
}

nav ul li {
    margin-left: 2em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #7fa9e9;
}

.cta {
    background-color: #6698f5;
    padding: 0.7em 1.5em;
    border-radius: 25px;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.cta:hover {
    background-color: #1e0755;
}


@media (max-width: 768px) {
    na {
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo {
        margin-bottom: 1em;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 0.5em 0;
    }

    .cta {
        padding: 0.5em 1.2em;
    }